# Common settings
DEV=True

# Telegram bot settings
BOT_TOKEN=<TOKEN>

# Service ports
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
#RABBITMQ_PORT
EMBEDDER_PORT=3377
POSTGRES_PORT=5432
#WEAVIATE_PORT

# MinIO settings
MINIO_ROOT_USER=<minio_username>
MINIO_ROOT_PASSWORD=<minio_password>

# Postgres settings
DB_USER=<postgres_user>
DB_PASSWORD=<postgres_password>

# Weaviate settings

# RabbitMQ settings

#