# Common settings
DEV=True
HEALTHCHECK_INTERVAL=1m

# Telegram bot settings
BOT_TOKEN=<TOKEN>
IMG_BUCKET_NAME=images

# Service ports
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
RABBITMQ_CONSOLE_PORT=8080
RABBITMQ_PORT=5672
EMBEDDER_PORT=3377
POSTGRES_PORT=5432
WEAVIATE_PORT=6333
WEAVIATE_GRPC_PORT=50003

# MinIO settings
MINIO_ROOT_USER=<minio_username>
MINIO_ROOT_PASSWORD=<minio_password>

# Postgres settings
DB_USER=<database_username>
DB_PASSWORD=<database_password>
DB_NAME=images

# Weaviate settings
COLLECTION_NAME=memes

# RabbitMQ settings
RABBITMQ_DEFAULT_USER=<rabbitmq_username>
RABBITMQ_DEFAULT_PASS=<rabbitmq_password>